<a href="https://colab.research.google.com/github/joaopamaral/tcc_puc_cdbd/blob/master/EDA_TCC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise Exploratória dos dados - Reducing Commercial Aviation Fatalities

In [0]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas_profiling as pp
import seaborn as sns
import sys
import os
import math

IN_COLAB = 'google.colab' in sys.modules

In [0]:
gdrive_kaggle_dir = '/gdrive/My Drive/Kaggle'
api_gdrive_credential_location = f'{gdrive_kaggle_dir}/kaggle.json'
data_gdrive_dir = f'{gdrive_kaggle_dir}/reducing-commercial-aviation-fatalities'
api_local_credential_location = os.path.join(os.path.expanduser('~'), '.kaggle/kaggle.json')

In [3]:
if IN_COLAB:
    if not os.path.isfile('train.csv.zip') or not os.path.isfile('test.csv.zip'):
        from google.colab import drive
        drive.mount('/gdrive')

        if os.path.isdir(gdrive_kaggle_dir):
            if os.path.isfile(f'{data_gdrive_dir}/test.csv.zip') and os.path.isfile(f'{data_gdrive_dir}/train.csv.zip'):
                !cp '{data_gdrive_dir}/train.csv.zip' .
                !cp '{data_gdrive_dir}/test.csv.zip' .
            else:
                !mkdir -p ~/.kaggle
                !cp '{api_gdrive_credential_location}' '{api_local_credential_location}'

if not os.path.isfile('train.csv.zip') or not os.path.isfile('test.csv.zip'):
    if os.path.isfile(api_local_credential_location):
        !pip -q install kaggle --upgrade
        !kaggle competitions download -c reducing-commercial-aviation-fatalities
        if IN_COLAB and os.path.isdir(gdrive_kaggle_dir):
            !cp train.csv.zip '{data_gdrive_dir}'
            !cp test.csv.zip '{data_gdrive_dir}'

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive

In [0]:
coluns_types = {
    'crew': 'category',
    'experiment': 'category',
    'seat': 'category',
    'event': 'category'
}

train_df = pd.read_csv('train.csv.zip', dtype = coluns_types)

float64_columns = train_df.select_dtypes(np.float64).columns
train_df[float64_columns] = train_df[float64_columns].astype(np.float16)

In [5]:
train_df.head()

  crew experiment      time seat  ...     ecg      r     gsr  event
0    1         CA  0.011719    1  ... -4520.0  817.5  388.75      A
1    1         CA  0.015625    1  ... -4520.0  817.5  388.75      A
2    1         CA  0.019531    1  ... -4520.0  817.5  388.75      A
3    1         CA  0.023438    1  ... -4520.0  817.5  388.75      A
4    1         CA  0.027344    1  ... -4520.0  817.5  388.75      A

[5 rows x 28 columns]

In [6]:
train_df.describe(include='all')

           crew experiment          time  ...          r        gsr    event
count   4867421    4867421  4.867421e+06  ...  4867421.0  4867421.0  4867421
unique        9          3           NaN  ...        NaN        NaN        4
top           6         DA           NaN  ...        NaN        NaN        A
freq     552958    1658393           NaN  ...        NaN        NaN  2848809
mean        NaN        NaN           NaN  ...        NaN        NaN      NaN
std         NaN        NaN           NaN  ...        NaN        NaN      NaN
min         NaN        NaN  3.000259e-03  ...      482.0        0.0      NaN
25%         NaN        NaN  8.806250e+01  ...      663.0      524.0      NaN
50%         NaN        NaN  1.768750e+02  ...      743.5      770.0      NaN
75%         NaN        NaN  2.682500e+02  ...      813.5     1197.0      NaN
max         NaN        NaN  3.602500e+02  ...      840.0     2000.0      NaN

[11 rows x 28 columns]

In [7]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4867421 entries, 0 to 4867420
Data columns (total 28 columns):
crew          category
experiment    category
time          float16
seat          category
eeg_fp1       float16
eeg_f7        float16
eeg_f8        float16
eeg_t4        float16
eeg_t6        float16
eeg_t5        float16
eeg_t3        float16
eeg_fp2       float16
eeg_o1        float16
eeg_p3        float16
eeg_pz        float16
eeg_f3        float16
eeg_fz        float16
eeg_f4        float16
eeg_c4        float16
eeg_p4        float16
eeg_poz       float16
eeg_c3        float16
eeg_cz        float16
eeg_o2        float16
ecg           float16
r             float16
gsr           float16
event         category
dtypes: category(4), float16(24)
memory usage: 241.4 MB

In [8]:
train_df.isna().sum()

crew          0
experiment    0
time          0
seat          0
eeg_fp1       0
eeg_f7        0
eeg_f8        0
eeg_t4        0
eeg_t6        0
eeg_t5        0
eeg_t3        0
eeg_fp2       0
eeg_o1        0
eeg_p3        0
eeg_pz        0
eeg_f3        0
eeg_fz        0
eeg_f4        0
eeg_c4        0
eeg_p4        0
eeg_poz       0
eeg_c3        0
eeg_cz        0
eeg_o2        0
ecg           0
r             0
gsr           0
event         0
dtype: int64

In [0]:
fig, ax = plt.subplots(1, 4, figsize=(25,5))

train_df.crew.value_counts().sort_index().plot.bar(ax=ax[0], color=sns.color_palette());
train_df.experiment.value_counts().sort_index().plot.bar(ax=ax[1], color=sns.color_palette());
train_df.event.value_counts().sort_index().plot.bar(ax=ax[2], color=sns.color_palette());
train_df.seat.value_counts().sort_index().plot.bar(ax=ax[3], color=sns.color_palette());

In [0]:
fig, ax = plt.subplots(1, 3, figsize=(25,5))

train_df.groupby('crew').experiment.value_counts().unstack(0).sort_index().plot.bar(ax=ax[0]);
train_df.groupby('event').experiment.value_counts().unstack(0).sort_index().plot.bar(ax=ax[1]);
train_df.groupby('seat').experiment.value_counts().unstack(0).sort_index().plot.bar(ax=ax[2]);

In [0]:
def plot_eeg(crew='1', experiment='CA', start_time=.5, end_time=.6):
    eeg_cols = train_df.columns[train_df.columns.str.contains('eeg_')]
    fig, ax = plt.subplots(math.ceil(eeg_cols.size / 4), 4, figsize=(20, 15))
    c = sns.color_palette("hls", eeg_cols.size)
    for ix, col in enumerate(eeg_cols):
        train_df.loc[(train_df.crew == crew) & (train_df.experiment == experiment) & 
                     train_df.time.between(start_time, end_time), ['time', col]].set_index('time').sort_index().plot(ax=ax[ix // 4, ix % 4], color=c[ix], legend=True)

plot_eeg()

In [0]:
def plot_ecg(crew='1', experiment='CA', start_time=.5, end_time=.55):
    train_df.loc[(train_df.crew == crew) & (train_df.experiment == experiment) & 
                     train_df.time.between(start_time, end_time), ['time', 'ecg']].set_index('time').sort_index().plot(legend=True);

plot_ecg()

In [0]:
train_df.loc[:, train_df.columns.str.contains('eeg')].plot.box(figsize=(30,7));

In [0]:
fig, ax = plt.subplots(1, 3, figsize=(25,5))

train_df['ecg'].plot.box(ax=ax[0]);
train_df['r'].plot.box(ax=ax[1]);
train_df['gsr'].plot.box(ax=ax[2]);

In [0]:
# pp.ProfileReport(train_df).to_file("report-reducing-commercial-aviation-fatalities.html")

In [0]:
train_df = train_df.drop_duplicates()

![alt text](https://scikit-learn.org/stable/_static/ml_map.png)

In [0]:
coluns_types = {
    'crew': 'category',
    'experiment': 'category',
    'seat': 'category',
    'event': 'category',
    'id': np.int16
}

test_df = pd.read_csv('test.csv.zip', dtype = coluns_types)

float64_columns = test_df.select_dtypes(np.float64).columns
test_df[float64_columns] = test_df[float64_columns].astype(np.float16)

In [22]:
test_df.head()

   id crew experiment      time  ...    eeg_o2     ecg      r     gsr
0   0    1       LOFT  0.000000  ... -8.140625 -7324.0  643.0  595.00
1   1    1       LOFT  0.000000  ... -0.024414 -3336.0  826.5  136.25
2   2    1       LOFT  0.003906  ...  0.956055 -7324.0  643.0  595.00
3   3    1       LOFT  0.003906  ... -0.047607 -3336.0  826.5  136.25
4   4    1       LOFT  0.007812  ...  1.473633 -7324.0  643.0  595.00

[5 rows x 28 columns]

In [26]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17965143 entries, 0 to 17965142
Data columns (total 28 columns):
id            int16
crew          category
experiment    category
time          float16
seat          category
eeg_fp1       float16
eeg_f7        float16
eeg_f8        float16
eeg_t4        float16
eeg_t6        float16
eeg_t5        float16
eeg_t3        float16
eeg_fp2       float16
eeg_o1        float16
eeg_p3        float16
eeg_pz        float16
eeg_f3        float16
eeg_fz        float16
eeg_f4        float16
eeg_c4        float16
eeg_p4        float16
eeg_poz       float16
eeg_c3        float16
eeg_cz        float16
eeg_o2        float16
ecg           float16
r             float16
gsr           float16
dtypes: category(3), float16(24), int16(1)
memory usage: 908.0 MB

In [27]:
test_df.isna().sum()

id            0
crew          0
experiment    0
time          0
seat          0
eeg_fp1       0
eeg_f7        0
eeg_f8        0
eeg_t4        0
eeg_t6        0
eeg_t5        0
eeg_t3        0
eeg_fp2       0
eeg_o1        0
eeg_p3        0
eeg_pz        0
eeg_f3        0
eeg_fz        0
eeg_f4        0
eeg_c4        0
eeg_p4        0
eeg_poz       0
eeg_c3        0
eeg_cz        0
eeg_o2        0
ecg           0
r             0
gsr           0
dtype: int64

In [0]:
from sklearn.linear_model import SGDClassifier

In [0]:
sgd_model = SGDClassifier()
sgd_model.fit