<a href="https://colab.research.google.com/github/joaopamaral/tcc_puc_cdbd/blob/master/EDA_TCC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise Exploratória dos dados - Reducing Commercial Aviation Fatalities

In [0]:
import pandas_profiling
import pandas as pd
import sys
import os

IN_COLAB = 'google.colab' in sys.modules

In [0]:
gdrive_kaggle_dir = '/gdrive/My Drive/Kaggle'
api_gdrive_credential_location = f'{gdrive_kaggle_dir}/kaggle.json'
data_gdrive_dir = f'{gdrive_kaggle_dir}/reducing-commercial-aviation-fatalities'
api_local_credential_location = os.path.join(os.path.expanduser('~'), '.kaggle/kaggle.json')

In [60]:
if IN_COLAB:
    if not os.path.isfile('train.csv.zip') or not os.path.isfile('test.csv.zip'):
        from google.colab import drive
        drive.mount('/gdrive')

        if os.path.isdir(gdrive_kaggle_dir):
            if os.path.isfile(f'{data_gdrive_dir}/test.csv.zip') and os.path.isfile(f'{data_gdrive_dir}/train.csv.zip'):
                !cp '{data_gdrive_dir}/train.csv.zip' .
                !cp '{data_gdrive_dir}/test.csv.zip' .
            else:
                !mkdir -p ~/.kaggle
                !cp '{api_gdrive_credential_location}' '{api_local_credential_location}'

if not os.path.isfile('train.csv.zip') or not os.path.isfile('test.csv.zip'):
    if os.path.isfile(api_local_credential_location):
        !pip -q install kaggle --upgrade
        !kaggle competitions download -c reducing-commercial-aviation-fatalities
        if IN_COLAB and os.path.isdir(gdrive_kaggle_dir):
            !cp train.csv.zip '{data_gdrive_dir}'
            !cp test.csv.zip '{data_gdrive_dir}'

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading sample_submission.csv.zip to /content
100% 41.0M/41.2M [00:01<00:00, 25.3MB/s]
100% 41.2M/41.2M [00:01<00:00, 37.0MB/s]
Downloading train.csv.zip to /content
 97% 421M/435M [00:02<00:00, 176MB/s]
100% 435M/435M [00:02<00:00, 173MB/s]
Downloading test.csv.zip to /content
100% 1.67G/1.67G [00:42<00:00, 46.4MB/s]
100% 1.67G/1.67G [00:42<00:00, 41.7MB/s]

In [0]:
train_ds = pd.read_csv('train.csv.zip')

In [64]:
train_ds.profile_report(style={'full_width':True})

AttributeError: ignored

In [0]:
train_ds.set_index(['crew', 'seat', 'experiment']).plot().head()

                          time   eeg_fp1  ...         gsr  event
crew seat experiment                      ...
1    1    CA          0.011719  -5.28545  ...  388.829987      A
          CA          0.015625  -2.42842  ...  388.829987      A
          CA          0.019531  10.67150  ...  388.829987      A
          CA          0.023438  11.45250  ...  388.829987      A
          CA          0.027344   7.28321  ...  388.829987      A

[5 rows x 25 columns]